<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "edu.eci.cvds.persistence.MyDAOImplement.Mappers.CategoriaMapper">

	<resultMap type='Categoria' id='CategoriaResult'>
		<id property='idCategoria' column='idcategoria'/>
		<id property='nombreCategoria' column='nombrecateg'/>
	    <id property='descripcion' column='descripcion'/>
	    <id property='fechaCreacion' column='fechaCreacion'/>
		<id property='fechaModif' column='fechaModif'/>	
	</resultMap>
    
    
    <select parameterType="map" id="consultarCategoria" resultMap="CategoriaResult">
		select 
		u.idcategoria,
		u.nombrecateg,
		u.descripcion,
		u.fechaCreacion,
		u.fechaModif
		FROM categoria as u;
	</select>
	
	<delete parameterType = "map" id = "eliminarCategoria">
		DELETE FROM categoria WHERE idcategoria = #{idCategoria};
	
	</delete>




</mapper>