<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "edu.eci.cvds.persistence.MyDAOImplement.Mappers.NecesidadMapper">

    <resultMap type='Necesidad' id='NecesidadResult'>
        <id property='idNecesidad' column='idNecesidad'/>
        <id property='idCategoria' column='idCategoria'/>
        <id property='nombreNec' column='nombreNec'/>
        <id property='descripcion' column='descripcion'/>
        <id property='urgencia' column='urgencia'/>
        <id property='fechaCreacion' column='fechaCreacion'/>
        <id property='estado' column='estado'/>
        <id property='fechaModif' column='fechaModif'/>
    </resultMap>


    <select parameterType="map" id="consultarNecesidad" resultMap="NecesidadResult">
        select
        idNecesidad,
        idCategoria,
        nombreNec,
        descripcion,
        urgencia,
        fechaCreacion,
        estado,
        fechaModif
        FROM necesidad;
    </select>
    <insert parameterType="map" id="crearNecesidad">
        INSERT INTO necesidad (idCategoria,nombreNec,descripcion,urgencia,fechaCreacion,estado,fechaModif)
        VALUES (#{idCategoria},#{nombreNec}, #{descripcion},#{urgencia},#{fechaCreacion},#{estado},#{fechaModif});
    </insert>


    <update parameterType = "map" id = "actualizarNecesidad">
        update necesidad
        set estado=#{estado}
        WHERE idnecesidad = #{idNecesidad};
    </update>



</mapper>